<%- include('head') %>

<%- include('header') %>

<main class="container column">
  <form action="/admin" class="container column" method="post" enctype="application/x-www-form-urlencoded">
    <input name="company" type="text" class="campId" placeholder="NAME COMPANY" />
    <button class="container__button" type="submit">CREATE</button>
  </form>
</main>

<%- include('footer') %>