<%- include('head') %>

<%- include('header') %>

<main>
  <div class="container column-reverse" id="screen">
    <div class="visor">
      <input type="text" value="GUICHÊ 00" disabled />
      <input type="text" value="NM00" disabled />
    </div>
    <div class="visor">
      <input type="text" value="GUICHÊ 00" disabled />
      <input type="text" value="NM00" disabled />
    </div>
    <div class="visor">
      <input type="text" value="GUICHÊ 00" disabled />
      <input type="text" value="NM00" disabled />
    </div>
    <div class="visor">
      <input type="text" value="GUICHÊ 00" disabled />
      <input type="text" value="NM00" disabled />
    </div>
    <div class="visor">
      <input type="text" value="GUICHÊ 00" disabled />
      <input type="text" value="NM00" disabled />
    </div>
    <div class="visor">
      <input type="text" value="GUICHÊ 00" disabled />
      <input type="text" value="NM00" disabled />
    </div>
  </div>
</main>

<%- include('footer') %>