    <% if(footer ===  1) { %>
      <footer class="footer">
        <div>
          <p>PRIORIDADE:</p>
          <p id="visor_pd">GUICHÊ 00 - PD00</p>
        </div>
        <div>
          <p>NORMAL:</p>
          <p id="visor_nm">GUICHÊ 00 - NM00</p>
        </div>
        <div>
          <p>TEMPO DE ESPERA 3MIN:</p>
          <p id="visor_time">00:00</p>
        </div>
      </footer>
    <% } else if (footer === 2) { %>
      <footer class="footer">
        <div>
          <p>LOGADO:</p>
          <p id="logged"><%= name_local ? name_local : 'GUICHÊ 00' %></p>
        </div>
        <div>
          <p>SENHA:</p>
          <p id="pass">NM00</p>
        </div>
        <div>
          <p>TEMPO DE ATENDIMENTO:</p>
          <p id="visor_time">00:00</p>
        </div>
      </footer>
    <% } else { %>
      <footer></footer>
    <% } %>

    <script type="module" defer src="/assets/js/firebaseConfig.js"></script>
    <script defer src="/assets/js/main-v1.js"></script>
  </body>
</html>