    <% if(pathanme ===  '/call') { %>
      <footer class="footer">
        <div>
          <p>PRIORIDADE:</p>
          <p id="visor_pd">GUICHÊ 00 - PD00</p>
        </div>
        <div>
          <p>NORMAL:</p>
          <p id="visor_nm">GUICHÊ 00 - NM00</p>
        </div>
        <div>
          <p>TEMPO DE ESPERA 3MIN:</p>
          <p id="visor_time">00:00</p>
        </div>
      </footer>
    <% } else { %>
      <footer></footer>
    <% } %>

    <script defer src="/assets/js/firebaseConfig.js"></script>
    <script defer src="/assets/js/main-v1.js"></script>
  </body>
</html>