<!DOCTYPE html>
<html lang="pt-bt">
<head>
  <title>Gerenciamento de Fila de Atendimento</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex,nofollow">
  <meta name="author" content="@t_h_e_u">
  <meta name="description" content="Sistema Gerenciamento de Fila de Atendimento.">
  <meta name="theme-color" content="#2A669D">
  <meta property="keywords" content="tag, erp">
  <meta property="og:image" content="https://generatehangtags.herokuapp.com/assets/icons/logo.png">
  <meta property="og:image:secure_url" content="https://generatehangtags.herokuapp.com/assets/icons/logo.png"> 
  <meta property="og:image:type" content="image/png"> 
  <meta property="og:image:width" content="400"> 
  <meta property="og:image:height" content="300" >
  <link rel="icon" href="/assets/icons/logo.png" sizes="32x32">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/logo.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/logo.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/logo.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/style-v1.css" type="text/css" media="screen">
  <script defer src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
</head>
<body>
  