<% if(footer ===  1) { %>
  <header class="header">
    <h2>LOCAL</h2>
    <a href="/">
      <img src="/assets/icons/logo.png" />
    </a>
    <h2>SENHA</h2>
  </header>
<% } else { %>
  <header class="header">
    <a href="/">
      <img src="/assets/icons/logo.png" />
    </a>
  </header>
<% } %>
