<%- include('head') %>

<%- include('header') %>

<main class="container">
  <div class="container__sub">
    <a class="container__button" href="/local">GUICHÊS</a>
    <a class="container__button"  href="/call">CHAMADAS</a>
    <a class="container__button"  href="/generate">GERAR</a>
    <a class="container__button" id="clearQueue">LIMPAR FILA</a>
    <a class="container__button" id="createModel_QueueCalls">CRIAR MODELO DB</a>
  </div>
</main>

<%- include('footer') %>