<%- include('head') %>

<%- include('header') %>

<main class="container column">
  <form id="form_id_aqm" class="container column">
    <input type="text" class="campId" placeholder="-id" />
    <button class="container__button" type="submit">LOGIN</button>
  </form>
  
  <a class="container__button" href="/local?l=guiche?n=01">GUICHÊ 01</a>
  <a class="container__button"  href="/local?l=guiche?n=02">GUICHÊ 02</a>
  <small>ADMIN:</small>
  <a class="container__button" id="clearQueue">LIMPAR FILA DE ATENDIMENTO</a>
</main>

<%- include('footer') %>