<%- include('head') %>

<%- include('header') %>

<main class="container column">
  <a class="container__button" href="/local?l=guiche?n=01">GUICHÊ 01</a>
  <a class="container__button"  href="/local?l=guiche?n=02">GUICHÊ 02</a>
  <small>ADMIN:</small>
  <a class="container__button" id="clearQueue">DELETAR MODELO DB</a>
  <a class="container__button" id="createModel_QueueCalls">CRIAR MODELO DB</a>
</main>

<%- include('footer') %>