<%- include('head') %>

<%- include('header') %>

<main class="container column">
  <button class="container__button" id="next_nm">PRÓXIMO</button>
  <button class="container__button" id="next_pd">PRÓXIMA PRIORIDADE</button>
</main>

<%- include('footer') %>