<%- include('head') %>

<%- include('header') %>

<main class="container column">
  <button class="container__button" id="next_nm">PROXIMO GUICHÊ</button>
  <button class="container__button" id="next_pd">PROXIMA PRIORIDADE</button>
</main>

<%- include('footer') %>