<%- include('head') %>

<%- include('header') %>

<main class="container column">
  <a class="container__button" href="/local?l=guichê?n=01">GUICHÊ 01</a>
  <a class="container__button"  href="/local?l=guichê?n=02">GUICHÊ 02</a>
</main>

<%- include('footer') %>